html {
    padding-bottom: 0;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

h1 {
    font-size: 5.625rem;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
   
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  
}

a {
    color: #11999E;
}

#tagLine {
    font-weight: normal;
}

#topContainer {
    background-color: #312D37;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-me {
    background-color: #312D37;
    margin-bottom: 0;
}

table {
    /* background-color: lightcoral; */
    width: 75%;
    margin: 100px auto 100px auto;
    text-align: center;

}

td {
    width: 15%;
   margin: auto;
   padding-bottom: 50px;
}
tr {
    width: 100%;
    align-content: center;
}

.skillImage {
    width: 40%;
}


