body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

h1 {
    font-size: 5.625rem;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
   
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
}

p {
    line-height: 2;
}

hr {
    border: dashed gray;
    width: 20%;
  
}

a {
    color: #11999E;
}

#tagLine {
    font-weight: normal;
}

#topContainer {
    background-color: ecfcff;
    position: relative;
    padding-top: 100px;
}

#middleContainer {
 
}

#bottomContainer {

}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 150px auto 150px auto;
    text-align: left;
}

.skillImages1 {
    width: 25%;
    float: left;
    padding-right: 30px;
}

.skillImages2 {
    width: 25%;
    float: right;
    padding-left: 30px;
}

.iconSource {
    font-size: small;

}