#topContainer {
    background-color: ecfcff;
}

body {
    margin: 0;
}

#middleContainer {
    height: 200px;
    width: 200px;
    background-color: red;
}

#bottomContainer {
    height: 200px;
    width: 200px;
    background-color: blue;
}